---
version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    open-pull-requests-limit: 5
    rebase-strategy: "disabled"
    groups:
      all-dependencies:
        dependency-type: "production"
        applies-to: version-updates

  # Maintain dependencies for Node.js
  - package-ecosystem: "npm"
    directories:
      - "/"
    groups:
      prod-dependencies:
        dependency-type: "production"
        applies-to: version-updates
      dev-dependencies:
        dependency-type: "development"
        applies-to: version-updates

    schedule:
      interval: "monthly"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-patch"]
