---
name: solidity

"on":
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions: read-all

jobs:
  forge-build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6

      - name: Install foundry
        run: |
          export FOUNDRY_DIR="$HOME/.foundry"
          # first install it
          curl -L https://foundry.paradigm.xyz | bash
          ~/.foundry/bin/foundryup

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm install -g yarn

      - name: Compile smart contracts
        run: |
          yarn install

          ~/.foundry/bin/forge build
